body{

background-color: orange; 
font-size: large;
font-style: italic;


}

h1{
    color: rgb(9, 9, 70);
    background-color: rgb(185, 97, 97);
}

p{
    color:rgb(25, 74, 131);
}


ul li span {
    color:chartreuse;
}

@media (any-hover: hover) {
    a:hover {
      background: yellow;
    }

  }

  @media (width < 550px) and (width > 300px) {
    a:hover {
      background: rgb(179, 12, 20);
    }
    
  }

  @media (min-width: 30rem) and (orientation: landscape) {
    a:hover {
        background: rgb(29, 173, 184);
      }
  }
  
  

